.cell {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.548);
}
.cell:hover {
  cursor: pointer;
}
.grid {
  display: grid;
  border: 1px solid black;
  background: white;
}
.btn-group {
  width: 500px;
  padding-bottom: 10px;
}
.btn-outline-primary {
  background: white;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.generation,
.population {
  font-size: 21px;
  font-weight: 600;
}
.population {
  padding-left: 20px;
}
.main-container {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto Mono", monospace;
}
.text-box {
  display: flex;
}
